# Python Keywords

keywords are the reserved words in Python.

 we can't use keywords as variable name,function name or any other identifier.

keywords are case sensitive.

In [5]:
import keyword  #Get all keywords in python

print(keyword.kwlist)
print("\n")
print("Total number of keywords:",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


Total number of keywords: 35

# Identifiers

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for writing Identifiers:

1. Identifiers can be a combination of letters in lowecase(a to z) or uppercase(A to Z) or digits(0 to 9) or an underscore(_).

2. An identifier cannot start with a digit. 1variable is invalid,but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

In [7]:
abc_12 = 12
_abc_12 = 12
12_abc = 12

SyntaxError: invalid decimal literal (<ipython-input-7-2aa7285c671a>, line 3)

In [11]:
lambda = 1

SyntaxError: invalid syntax (<ipython-input-11-1b7fd4bb5a0b>, line 1)

We cannot use special symbols like !,@,#,$,%,^,&,*,etc. in our identifier.

In [8]:
a@ = 11

SyntaxError: invalid syntax (<ipython-input-8-6be4ad808414>, line 1)

# Python Comments

Comments are lines that exist in computer programs that are ignored by compilers and interpreters.

Including comments in programs makes code more readable for humans as it provides some information or explanation about what each part of a program is doing.

In general, it is a good idea to write comments while you are writing or updating a program as it is easy to forget you through process later on, and comments written later may be less useful in the long term.

In python we use the hash (#) symbol to start writing a comment.

In [1]:
#print hello, world to console
print("Hello, World")

Hello, World

# Multi Line Comments

If we have comments that extend multiple lines, one way of doing it is to use hash in the begining of each line.

In [2]:
#this is a long comment.
#and it extends 
#multiple lines.

Another way of doing this is to use triple quotes, either ''' or """.

In [9]:
"""This is also a 
perfect example of
multiline comment."""
print("AAKSJCBHS")

AAKSJCBHS

# Python Indentation

1. Most of the programming languages like C,C++,Java use braces {} to define a block of code. Python uses Indentation.

2. A code block (body of a function,loop etc.) starts with indentation and ends with the first unindented line. The amount of indentation is upto you ,but it must be consistent throughout that block,

3. Generally four whitespaces are used for indentation and is preferred over tabs.

In [16]:
for i in range(10):   
    print(i)
print(10)

0
1
2
3
4
5
6
7
8
9
10

Indentation can be ignored in line continuation.But it's a good idea to always indent.It makes the code more readable.

In [20]:
if True:
    print("Data")
    c="abc"

Data

In [19]:
if True:print("Data"); c="abc"

Data

# Python Statement

Instructions that a python interpreter can execute are called statements.

#Examples-

In [29]:
a="sayali" #single statement

# Multi Line Statement

In python, end of a statement is marked by a newline character.But we can make a statement extend over multipe lines with the line continuation character(\).

In [14]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8

In [17]:
print(a)

36

Another way is to use paranthesis.

In [23]:
a = (1 + 2 + 3 
     + 4 + 5 + 6 
     + 7 + 8 + 9)
print(a)

45

In [21]:
print(a)

45

Put multiple statements in a single line using (;)

In [24]:
a = 10; b = 20; c = 30 # Multiple statements are separated by semi colon(;)

#                        Variables

A variable is a location in memory to store some data(value).

They are given unique names to differentiate between different different memory locations.The rules for writing a variable name is same as the rules for writing identifiers in Python.

We dont need to declare a variable before using it. In python, we simply assign a value to a variable and it will exist. We dont even have to declare the type of the variable. This is handled internally according to the type of value we assign the variable.

# Variable Assignments

In [33]:
#We use the assignment operator (=) to assign vaue to a variable.
a = 10
b = 5.5
c = "python"

int

In [32]:
type(a)

int

In [29]:
type(b)

float

In [31]:
type(c)

str

# Multiple Assignments

In [49]:
a ,b ,c = 10, 5.5, "PYTHON IS PROGRAMMING LANGUAGE"

In [50]:
print(c)

python IS PROGRAMMING LANGUAGE

In [40]:
a=b=c="python"

In [44]:
print(a,b,c)

python python python

# Storage Locations

In [42]:
x = 3
print(id(x))         #print address of variable x.

140723943974752

In [43]:
y = 3
print(id(y))         #print address of variable y.

140723943974752

Observation:

x and y points to same memory location.

In [44]:
y = 2
print(id(y))       #print address of variable y.

140723943974720

# Data Types

Every value in Python has a datatype.Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and  complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [45]:
a = 5                          # data type is implicitly set to integer.
print(a, "is of type", type(a))

5 is of type <class 'int'>

In [46]:
a = 2.5                          # data type is changed to float.
print(a, "is of type", type(a))

2.5 is of type <class 'float'>

In [49]:
a = 1+2j                          # data type is changed to complex number.
print(a, "is complex number?")
print(isinstance(1+2j, complex))
print(type(a))

(1+2j) is complex number?
True
<class 'complex'>

# Boolean

    Boolean represents the truth values False and True.

In [50]:
a = True       #a is boolean type
print(type(a))

<class 'bool'>

## Python Strings

String is sequence of Unicode characters.

We can use single quotes or double quotes to represent strings.

Multi-line strings can be denoted using triple quotes,''' or """.

A string in python consist of a series or sequence of characters- letters,numbers, and special characters.

Strings can be indexed - often synonymously called subscripted as well.

Similar to C, the first character of a string has the index 0.

In [45]:
s = """This is Online Python course"""    #we can use single quotes here also.
print(type(s))

<class 'str'>

In [47]:
print(s[4])

For printing last character of the string we will use:  
                                                     s[len(s)-1]   or   s[-1]

In [48]:
print(s[len(s)-5])

o

In [54]:
print(s[-2])

s

# Slicing

In [60]:
s[5:]    #[5:] it means from 5th index to the end of string

'is Online Python course'

In [62]:
s[5:10] #doesent print 10th index character bcz it slices or cuts the string.

'is On'

## Python List

List is an ordered sequence of items.It is one of the most used datatype in python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is, Items separated by commas are enclosed within brackets[].

In [65]:
a = [10, 20.5, "hello"] 
print(a[1])    #print 1st index element.

20.5

Lists are mutable(changeable),meaning, value of elements of a list can be altered.i.e u can modify list.

In [67]:
a[1] = 3.7   #change the value of index 1
print(a)

[10, 3.7, 'hello']

## Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable(cannot change).

Tuples once created cannot be modified.

In [68]:
t = (1, 1.5,"Python")

In [69]:
print(t[1])

1.5

In [70]:
t[1] = 2.7

TypeError: 'tuple' object does not support item assignment

## Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces{}.Items in a set are not ordered.

In [72]:
a = {10,20,30,40,50}
print(a)

{40, 10, 50, 20, 30}

In [73]:
print(type(a))

<class 'set'>

We can perform operations like union, intersection on two sets.Set have unique values.

In [1]:
s = {10,20,20,30,30,30}
print(s)    #automatically set won't consider duplicate elements.

{10, 20, 30}

In [2]:
print(s[1])  #we cant print particular element in set because  its unordered collection of items

TypeError: 'set' object is not subscriptable

# Python Dictionary

Dictionary is an unordered collection of key-value pairs. It is same as has table.

In Python, dictionaries are defined within braces{} with each item being a pair in the form key-value.

In [5]:
d = {'a':"apple",'b':"bat"}
print(d)

{'a': 'apple', 'b': 'bat'}

In [6]:
print(d['a'])

apple

In [7]:
print(d['c'])

KeyError: 'c'

# Conversion between Datatypes

we can convert between different data types by using different type conversion functions float(), string(),etc.

In [8]:
float(5)   #convert int to float using float() method.

5.0

In [11]:
int(100.5) #convert float to int using int() method.

100

In [12]:
str(20)    #convert int to string using string() method.

'20'

Conversion to and from string must contain compatible values.

In [13]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [21]:
user = "aasawari"
lines = 100
print("congratulations," +user+"! You just wrote " + str(lines) + " lines")

congratulations,aasawari! You just wrote 100 lines

We can convert one sequence to another

In [25]:
a = [1,2,3]
print(type(a))

s = set(a)      #convert list to set using set() function
print(type(s))

<class 'list'>
<class 'set'>

In [24]:
list("hello")    #convert string to list

['h', 'e', 'l', 'l', 'o']

In [28]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

## Python Input and Output

## Python Output

We use the print() function to output data to the standard output device.

In [29]:
print("Hello, World!")

Hello, World!

In [31]:
a = 10
print("The value of a is:", a)
print("The value of a is:" +str(a))

The value of a is: 10
The value of a is:10

## Output Formatting

In [33]:
a = 10; b = 20 #multiple statements in single line
print("The value of a is {} and b is {}".format(a,b)) #default

The value of a is 10 and b is 20

In [35]:
a=25;b=19
print("The value of b is {1} and value of a is {0}".format(a,b))  #specify position

The value of b is 19 and value of a is 25

In [40]:
#we can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="aashu",greeting="Good Morning...."))

Hello aashu, Good Morning....

In [41]:
#we can combine positional arguments with keyword arguments
print("Story of {0}, {1}, and {other}".format("aashu","prachi",other="suri"))

Story of aashu, prachi, and suri

# Python Input

want to take the input from the user.In python, we have the input() function to allow this.

In [44]:
num = input("Enter the value: ")
print(num)

KeyboardInterrupt: Interrupted by user

## Operators

Operators are special symbols in Python that carry out Arithmetic or Logical computation.The value that the operator operates on is called the operand,

## Operator Types

1. Arithmetic Operators

2. Comparision(Relational) Operators

3. Logical(Boolean) Operators

4. Bitwise Operators

5. Assignment Operators

6. Special Operators

# Arithmetic Operators

Arithmetic operators are used to perfom mathematical operations like addition, substraction, multiplication etc.

         + , - , * , / , % , // , ** , are arithmetic operators.

example-

In [45]:
x, y = 2, 5

print(x+y)    #addition operator(+)

7

In [46]:
print(x-y)    #subraction operator(-)

-3

In [47]:
print(x*y)    #multiplication operator(*)

10

In [53]:
print(x/y)   #division operator(/)

0.4

In [54]:
print(x**y)   #exponent operator

32

In [55]:
print(x//y)   #floor division

0

In [56]:
print(x%y)   #modulo operator

2

# Comparision Operators

Comparision operators are used to compare values.It either returns True or False according to the conditions.

        > , < , == ,!= , >= , <= are comparision operators.

example-

In [60]:
a, b = 10, 20
print(a<b)     #check a is less than b

True

In [61]:
print(a>b)    #check a is greater than b

False

In [62]:
print(a==b)    #check a is equal to b

False

In [63]:
print(a!=b)    #check a is not equal to b

True

In [64]:
print(a>=b)    #check a is greater than equal to b

False

In [65]:
print(a<=b)   #check a is less than equal to b

True

# Logical Operators

Logical operators are and, or, not operators

In [10]:
a,b=True,False     #according to truthtable.
print(a and b)

False

In [7]:
print(a or b)

True

In [9]:
print(not b)

True

## Bitwise Operators

Bitwise Operators act on operands as if they were string of binary digits. It operates bit by bit.

       &, |, ~, ^, >>, << are bitwise operators

In [12]:
a,b=10,4
print(a&b)   #bitwise AND

0

In [13]:
print(a|b)   #bitwise OR

14

In [15]:
print(~b)   #bitwise NOT

-5

In [16]:
print(a^b)    #bitwise XOR

14

In [17]:
print(a>>b)    #bitwise rightshift

0

In [18]:
print(a<<b)     #bitwise leftshift

160

# Assignment Operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operators that assign the value 5 on the right to the variable a on the left.

    =, +=, -=, *=, /=, %=, //=, **=, &=, |=, ^=, >>=, <<= are assignment operators.

In [19]:
a = 10
a += 10
print(a)

20

In [21]:
a -= 10
print(a)

0

In [25]:
a = 10
a *= 10
print(a)

100

In [26]:
a = 10
a /= 10
print(a)

1.0

In [27]:
a = 10
a %= 10
print(a)

0

In [28]:
a = 10
a **= 10
print(a)

10000000000

In [29]:
a = 10
a //= 10
print(a)

1

In [30]:
a = 10
a &= 10
print(a)

10

In [31]:
a = 10
a |= 10
print(a)

10

In [32]:
a = 10
a ^= 10
print(a)

0

In [33]:
a = 10
a >>= 10
print(a)

0

# Special Operators

# Identity Operators

is and is not are the identity operators in Python.

They are used to check if two values (for variables) are located on the same part of the memory.

In [34]:
a = 5
b = 5
print(a is b)   #5 object created once both a and b points to same object

True

In [48]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is l2)   #for complex data types like tupes and lists identity operators doesnt work

False

In [43]:
s1 = "AAIC"
s2 = "AAIC"
print(s1 is s2)

True

# Membership Operators

in and not in are the membership operators in Python.

They are used to test whether a value is found in a sequence(String, list,tuple,set and dictionary.)

In [49]:
lst = [1,2,3,4]
print(1 in lst)   #check 1 is present in a given list or not

True

In [53]:
d = {1:"aasawari", 2:"sayali", 3:"priya"}
print(1 in d)

True

In [55]:
d = {1:"aasawari", 2:"sayali", 3:"priya"}
print(aasawari in d)    #we can check only key not the values so it raises error

NameError: name 'aasawari' is not defined

# Lists

Data Structure:

A data structure is a collection of data elements (such as numbers or characters- or even other data structures) that is structured in same way,for example, by numbering the elements. The most basic data structure in Python is the "sequence".

List is one of the Sequence Data structure

Lists are collection of items(Strings, integers or even other lists)

Lists are enclosed in []

Each item in the kist has an assigned index value.

Each item in a list is separated by comma

Lists are mutable, which means they can be changed

#  List Creation

In [5]:
emptyList = []
print(emptyList)

[]

In [2]:
lst1 = ["one","two","three","four"]  #list of strings
lst2 = [1,2,3,4]                     #list of integers
lst3 = [[1,2],[3,4]]                 #list of lists
lst4 = [1,2.7,"aashu","true"]          #list of different data types

In [4]:
print(lst4)

[1, 2.7, 'aashu', 'true']

# List Length

In [5]:
lst1 = ["one","two","three","four"] 
 
#find length of a list
print(len(lst1))

4

# List Append

In [7]:
lst1 = ["one","two","three","four"] 
lst1.append("five")          #Append will add the item at the end
print(lst1)

['one', 'two', 'three', 'four', 'five']

# List Insert

In [12]:
#syntax= lst.insert(x,y)
lst1 = ["one","two","four"] 
lst1.insert(2,"three")     #it will add element y at the location x
print(lst1)

['one', 'two', 'three', 'four']

# List Remove

In [16]:
#syntax= lst.remove(x)
lst1 = ["one","two","five","three","four","five"]
lst1.remove("five")      #it will remove first occurence of 'five' in a given list
print(lst1)

['one', 'two', 'three', 'four', 'five']

# List Append and Extend

In [18]:
lst1 = ["one","two","three","four"] 
lst2 = ["five","six"]
lst1.append(lst2)   #will append the separate list in the given list
print(lst1)

['five', 'six']

In [21]:
lst1 = ["one","two","three","four"] 
lst2 = ["five","six"]
lst1.extend(lst2)    #extend will join the elements of list to the end of given list
print(lst1)

['one', 'two', 'three', 'four', 'five', 'six']

# List Delete

In [29]:
#del to remove the item based on index position
lst1 = ["one","two","three","four","five"]
del lst1[4]
print(lst1)

['one', 'two', 'three', 'four']

# pop list element

In [30]:
#pop will return the element when we pop
a = lst1.pop(1)
print(a)

two

In [31]:
print(lst1)

['one', 'three', 'four']

In [33]:
lst1 = ["one","two","three","four"] 
lst1.remove('three')       #remove an item or exact element from list
print(lst1)

['one', 'two', 'four']

# List related keywords in Python

keyword 'in' is used to test if an item is in a list

In [2]:
lst = ['one','two','three','four']

if 'two' in lst:
    print('two is present')

two is pressent

keyword 'not' can combined with 'in'

In [4]:
if 'six' not in lst:
    print('six is absent')

six is absent

# List Reverse

Reverse is reverses the entire list

In [7]:
lst = ['one','two','three','four']
lst.reverse()
print(lst)

['four', 'three', 'two', 'one']

# List Sorting

The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elemrnts insorted order.

The original list is not changed.

The sorted() optional argument reverse=True, e.g.sorted(list,reverse=True),makes it sort backwards.

In [11]:
#create a list with numbers
numbers = [3,1,4,9,8]
sorted_list = sorted(numbers)
print("Sorted List:",sorted_list)
print("Original List:",numbers)

Sorted List: [1, 3, 4, 8, 9]
Original List: [3, 1, 4, 9, 8]

In [13]:
#print a list in reverse sorted order
print("Reverse sorted list:",sorted(numbers,reverse=True))

#Original list remain unchanged
print("Original List:",numbers)

Reverse sorted list: [9, 8, 4, 3, 1]
Original List: [3, 1, 4, 9, 8]

In [2]:
lst = [1,20,5,4.5,5,]
lst.sort()
print("sorted list:",lst)

sorted list: [1, 4.5, 5, 5, 20]

In [5]:
#Add element a to the list to show an error
lst = [1,'a',20,5,4.5,'b',5]
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

# List Having Multiple References

In [8]:
lst = [1,2,3,4,5]
abc = lst          #both lst and abc points or refers to the same list
abc.append(6)
print("original list:",lst)

original list: [1, 2, 3, 4, 5, 6]

# String Split to create a list

In [22]:
#lets take a string
s = "one,two,three,four"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four']

In [19]:
s = "This is applied AI course"
split_lst = s.split()          #default split is white-character: space or tab
print(split_lst)

['This', 'is', 'applied', 'AI', 'course']

# List Indexing

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [23]:
lst = [1,2,3,4,5]
print(lst[1])     #print second element

2

In [29]:
print(lst[-1])    #print last element using negative index

5

# List Slicing

Accessing parts of segments is called slicing

The key point to remember is that the :end value represents the first value that is not in the selected slice.

In [1]:
numbers = [10,20,30,40,50,60,70,80,90]

#print all numbers
print(numbers[:])

#print from index 0 to index 3     :number[start:end]
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40]

In [3]:
print(numbers)
#print alternate elements in a list :   number[start:end:steps]
print(numbers[::2])

#print elements start from 0 through rest of the list
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 30, 50, 70, 90]
[30, 50, 70, 90]

# List extend using "+"

In [5]:
lst1 = [1,2,3,4]
lst2 = ["sayali","surendra","prachi"]
new_lst = lst1 + lst2
print(new_lst)

[1, 2, 3, 4, 'sayali', 'surendra', 'prachi']

# List Count

In [6]:
numbers = [1,3,3,2,3,4,3,2,5,6,9]
#frequency of 3 in list
print(numbers.count(3))

4

# List Looping

In [8]:
#loop through a list
lst = ['one','two','three','four']
for e in lst:
    print(e)

one
two
three
four

# List Comprihensions

List Comprihensions provide a concise way to create lists.
Common applications are to make new lists where each element is the result of some operations applied to each member of another 
sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [10]:
#without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)    #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
cubes = []
for i in range(20):
    cubes.append(i**3)
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [20]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
#Examples

lst = [-10,-20,10,20,50]

#create a new list with value doubled
new_lst = [i*2 for i in lst]
print(new_lst)

[-20, -40, 20, 40, 100]

In [25]:
#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >=0]
print(new_lst)

[10, 20, 50]

In [29]:
#create a list of tuple like (number, square_of_number)
new_lst = [(i,i**2) for i in range(10)]
print(new_lst)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

# Nested List Comprehensions

In [32]:
#Let's suppose we have a matrix
matrix = [
            [1,2,3,4],
            [5,6,7,8],
            [9,10,11,12]
]
#transpose of matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [36]:
#with list comprehension
transposed = [[row[i] for row in matrix]for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# Tuples

A tuple is similar to list

The difference between the two is that we cant change the elements of tuples once it is assigned whereas in the list, elements can be changed

# Tuple Creation

In [1]:
#empty tuple
t = ()

#tuple having integers
t = (1,2,3)
print(t)

(1, 2, 3)

In [2]:
#tuple with mixed datatypes
t = (1,'ashu',20,'sayali')
print(t)

(1, 'ashu', 20, 'sayali')

In [3]:
#nested tuple
t = (1,(2,3,4),[1,'ashu',20,'sayali'])
print(t)

(1, (2, 3, 4), [1, 'ashu', 20, 'sayali'])

In [4]:
#only parenthesis is not enough for single element in tuple
t = ('aasawari')
type(t)

str

In [5]:
#it need a comma at the end to define type as tuple
t = ('aasawari',)
type(t)

tuple

In [9]:
#parenthesis is optional
t = "aasawari",            #without giving parenthesis we can get type of tuple
print(type(t))
print(t)

<class 'tuple'>
('aasawari',)

# Access Elements in Tuple

In [10]:
t = ('aasawari','sayali','priya','manisha','prachi')
print(t[1])

sayali

In [11]:
#negative index
print(t[-1])

prachi

In [12]:
#nested tuple
t = ('aasawari',('sayali','priya','manisha'),'prachi')
print(t[1])

('sayali', 'priya', 'manisha')

In [13]:
print(t[1][1])

priya

In [17]:
#Slicing
t = (1,2,3,4,5,6)
print(t[1:4])

(2, 3, 4)

In [18]:
#print elements from starting to 2nd last element
print(t[:-2])

(1, 2, 3, 4)

In [19]:
#print all elements from starting to end
print(t[:])

(1, 2, 3, 4, 5, 6)

# Changing a Tuple

Unlike lists, tuples are immutable

This means that the elements of tuples cannot be changed once it has been assigned. But, if the element is itself a mutable datatype
like list, its nested items can be changed

In [21]:
#creating tuple
t = (1,2,3,4,[5,6,7,8])
t[2] = 'x'               #we will get typeError

TypeError: 'tuple' object does not support item assignment

In [23]:
t[4][1] = 'aashu'  #list in tuple is mutable
print(t)

(1, 2, 3, 4, [5, 'aashu', 7, 8])

In [24]:
#concatinating tuples
t = (1,2,3,4)+(5,6,7,8,9)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [26]:
#repeat the elements in tuple for a given number of times using * operation
t = (('aashu',)*4)
print(t)

('aashu', 'aashu', 'aashu', 'aashu')

# Tuple Deletion

In [28]:
#we cannot change elements in the tuple
#That also means we cannot delete or remove item from a tuple.

#delete entire tuple using del keyword
t = (9,8,7,6,5,5,5,4,3,2,1)
del t   #delete entire tuple
print(t)

NameError: name 't' is not defined

# Tuple Count

In [29]:
t = (1,4,2,3,6,8,7,1,5,9)
t.count(1)               #counts number of times given element occurs.

2

# Tuple Index

In [30]:
t = (1,4,2,3,6,8,7,1,5,9)
print(t.index(1))               #return index of first element is equal to 1.

0

# Tuple Membership

In [31]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1,4,6,8,3,5,6,4,9)
print(1 in t)

True

In [33]:
print(2 in t)

False

# Built in Functions

# Tuple Length

In [34]:
t = (1,4,6,8,3,5,6,4,9)
print(len(t))

9

# Tuple Sort

In [37]:
t = (5,6,89,1,3)
new_t = sorted(t) #take elements in the tuple and returns a new sorted list
print(new_t)      #(doesnot sort the tuple itself)

[1, 3, 5, 6, 89]

# Largest element in tuple

In [38]:
t = (1,4,6,8,3,5,6,4,9)
print(max(t))

9

# Smallest element in tuple

In [39]:
print(min(t))

1

# Sum of elements in tuple

In [40]:
print(sum(t))

46

# Sets

A set is an unordered(cannot be indexed) collection of items. Every element is unique(no duplicate)

The set itself is mutable. We can add or remove items from it.

Sets can be used to perform mathematical set operations like union, intersection,symmetric difference, etc.

# Set Creation

In [5]:
#set of integers
s = {1,2,3}
print(s)

#print type of s
print(type(s))

(1, 2, 3)
<class 'tuple'>

In [6]:
#set doesnt allow duplicates. They store only one instance.
s = {1,2,3,1,4}
print(s)

{1, 2, 3, 4}

In [7]:
#we can make set from list
s = set([1,2,3,1])
print(s)

{1, 2, 3}

In [8]:
#initialize a set with set() method
s = set()
print(type(s))

<class 'set'>

# Add elements to a set

In [9]:
#we can add single element using add() method and 
#add multiple elements using update() method
s = {1,3}

#set object doesnot support indexing
print(s[1]) #will get typeerror

TypeError: 'set' object is not subscriptable

In [10]:
#add element
s.add(2)
print(s)

{1, 2, 3}

In [11]:
#add multiple elements
s.update([5,6,1])
print(s)

{1, 2, 3, 5, 6}

In [12]:
#add list and set
s.update([7,8],{9,7,8,5})
print(s)

{1, 2, 3, 5, 6, 7, 8, 9}

# Remove elements from a set

#A particular item can be removed from set using methods,
#discard() and remove()

s = {1,2,3,5,4}
print(s)

s.discard(4)    #4 is removed from set s
print(s)

In [14]:
#remove an element
s.remove(2)
print(s)

{1, 3, 5}

In [15]:
#remove an element not present in a set s
s.remove(7)   #will get KeyError

KeyError: 7

In [16]:
#discard an element not present in a set s
s.discard(7)
print(s)

{1, 3, 5}

In [17]:
#we can remove item using pop() method
s = {2,1,3,4,5}
s.pop() #remove random element
print(s)

{2, 3, 4, 5}

In [18]:
s.pop()
print(s)

{3, 4, 5}

In [19]:
s = {1,8,5,7,9,3,4}
s.clear()  #remove all items in set using clear() method
print(s)

set()

# Python Set Operations

In [23]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,2,3,1}
#union of 2 sets using | operator
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
#another way of getting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
#intersection of 2 sets using & operators
print(set1 & set2)

{1, 2, 3}

In [26]:
#use intersection function
print(set1.intersection(set2))

{1, 2, 3}

In [27]:
#set difference : set of elements that are only in set1 but not in set2
 
print(set1 - set2)

{4, 5}

In [28]:
#use difference function
print(set1.difference(set2))

{4, 5}

Symmetric difference: set of elements in both set1 and set2 except those that are common in both.

In [29]:
#use ^ operator 
print(set1 ^ set2)

{4, 5, 6, 7, 8, 9}

In [30]:
#use symmetric_difference function
print(set1.symmetric_difference(set2))

{4, 5, 6, 7, 8, 9}

In [32]:
#find issubset()
x = {"a","b","c","d","e"}
y = {"c","d"}
print("set 'x' is subset of 'y' ?",x.issubset(y))   #check x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?",y.issubset(x))

set 'x' is subset of 'y' ? False
set 'y' is subset of 'x' ? True

# Frozen Sets

Frozen sets has the characteristics of sets,but we can't be changed once it's assigned. While tuple are immutable lists,frozen sets are immutable sets.

Frozensets can be changed using the function frozenset()

Sets being mutable are unhashable, so they cant be used as dictionary keys. On the other hand,frozensets are hashable and can be
used as keys to a dictionary.

This datatypes supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference(),
and union().

Being immutable it doesnot have method that add or remove elements.

In [34]:
set1 = frozenset([1,2,3,4])
set2 = frozenset([3,4,5,6])

#try to add element into set1 gives an error
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [35]:
print(set1[1])   #frozenset doesnot support indexing

TypeError: 'frozenset' object is not subscriptable

In [39]:
print(set1 | set2)  #union of 2 sets

print(set1.union(set2))

frozenset({1, 2, 3, 4, 5, 6})
frozenset({1, 2, 3, 4, 5, 6})

In [38]:
#intersection of 2 sets
print(set1 & set2)

print(set1.intersection(set2))

frozenset({3, 4})
frozenset({3, 4})

In [41]:
#symmetric_difference
print(set1^set2)

print(set1.symmetric_difference(set2))

frozenset({1, 2, 5, 6})
frozenset({1, 2, 5, 6})

# Dictionary

Python Dictionary is an unordered collection of items. While other compound data types have only value as an element.

A dictionary has a key value pair .(Hash Table)

# Dict Creation

In [42]:
#empty dictionary
my_dict = {}
print(my_dict)

{}

In [46]:
#create empty dictionary using dict()
my_dict = dict()
print(my_dict)

{}

In [47]:
#Dictionary with integer keys
my_dict ={1:'abc',2:'xyz'}
print(my_dict)

{1: 'abc', 2: 'xyz'}

In [48]:
#dictionary with mixed keys
my_dict = {'name':'aashu', 1:['abc','xyz']}
print(my_dict)

{'name': 'aashu', 1: ['abc', 'xyz']}

In [49]:
#create dict with list of tuples
my_dict = dict([(1,'abc'),(2,'xyz')])
print(my_dict)

{1: 'abc', 2: 'xyz'}

# Dict Access

In [52]:
my_dict = {'name':'aashu','age':21,'address':'pune'}
print(my_dict['name'])

aashu

In [53]:
#when key is not present it gives KeyError
print(my_dict['degree'])

KeyError: 'degree'

In [54]:
#another way of accessing key
print(my_dict.get('address'))

pune

In [55]:
#if key is not present it will give none using get method
print(my_dict.get('degree'))

None

# Dict Add or Modify Elements

In [56]:
my_dict = {'name':'aashu','age':21,'address':'pune'}
my_dict['name'] = 'sayali'
print(my_dict)

{'name': 'sayali', 'age': 21, 'address': 'pune'}

In [57]:
#add new key
my_dict['degree'] = 'bsc.cs'
print(my_dict)

{'name': 'sayali', 'age': 21, 'address': 'pune', 'degree': 'bsc.cs'}

# Dict Delete or Remove Element

In [59]:
#create a dictionary
my_dict = {'name':'aashu','age':21,'address':'pune'}

#remove a particular item
print(my_dict.pop('age'))
#it will remove the item and get it back and print
print(my_dict)

21
{'name': 'aashu', 'address': 'pune'}

In [61]:
my_dict = {'name':'aashu','age':21,'address':'pune'}

#remove an arbitrary key
my_dict.popitem()  #will remove any random key
print(my_dict)

{'name': 'aashu', 'age': 21}

In [65]:
squares = {2:4,3:9,4:16,5:25,6:36}
#delete particular key
del squares[2]
print(squares)

{3: 9, 4: 16, 5: 25, 6: 36}

In [67]:
#remove all items
squares.clear()
print(squares)

{}

In [69]:
squares = {2:4,3:9,4:16,5:25,6:36}
#delete whole dictionary itself
del squares
print(squares)   #NameError bcz whole dict is deleted

NameError: name 'squares' is not defined

# Dictionary Methods

In [71]:
squares = {2:4,3:9,4:16,5:25,6:36}
my_dict = squares.copy()   #copies all the elements 
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [75]:
#fromkeys[seq,[v]]->returns a new dictionary with keys from seq and values
subjects = {}.fromkeys(['hindi','english','marathi'],0)
print(subjects)

{'hindi': 0, 'english': 0, 'marathi': 0}

In [78]:
subjects = {2:4,3:9,4:16,5:25,6:36}
print(subjects.items())  #returns a new view of dictionary items(key,value) (list of tuples)

dict_items([(2, 4), (3, 9), (4, 16), (5, 25), (6, 36)])

In [81]:
subjects = {2:4,3:9,4:16,5:25,6:36}
print(subjects.keys())  #returns a new view of dictionary keys(keys)

dict_keys([2, 3, 4, 5, 6])

In [82]:
subjects = {2:4,3:9,4:16,5:25,6:36}
print(subjects.values())  #returns a new view of dictionary values(values)

dict_values([4, 9, 16, 25, 36])

In [83]:
#get the list of all available methods and attributes of dictionary
d = {}
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Dict Comprehension

In [85]:
#dict comprehensions are just like list comprehensions but for dictionaries
d = {'a':1,'b':2,'c':3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [87]:
#creating a newdictionary with only pairs where the value is larger than 2
d = {'a':1,'b':2,'c':3,'d':4}
new_dict = {k:v for k, v in d.items() if v>2}
print(new_dict)

{'c': 3, 'd': 4}

In [88]:
#we can also perform operations on the key value pairs
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
d = {k +'c':v*2 for k,v in d.items() if v>2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

# Strings

A string is sequence of characters.

Computers do not deal with character,they deal with numbers(binary). Even though you may see characters on your screen,internally it is stored and
manipulated as a combination of 0's and 1's

This conversion of characters to a number is called encoding, and the reverse process is decoding.ASCII and Unicode are some of the popular encoding used.

In python, string is sequence of unicode character

# How to create String?

In [90]:
myString = 'Hello'
print(myString)

myString = "Hello"
print(myString)

myString = '''Hello'''   #basically triple quotes ('''  ''')  are used for multiline comments
print(myString)

Hello
Hello
Hello

# How to access characters in a string?

we can access individual charcters using indexing and a range of characters using slicing.

index starts from 0.

trying to access a character out of index range will raise an IndexError.

the index must be an integer.we cant use float or other types,this will result into TypeError.

python allows negative indexing for its sentences.

In [92]:
myString = 'Hello'

#print first character
print(myString[0])

H

In [93]:
#print last character using negative indexing
print(myString[-1])

o

In [94]:
#slicing 2nd to 5th character
print(myString[2:5])

llo

If we try to access index out of the range or use decimal number,we will get errors.

In [95]:
print(myString[15])

IndexError: string index out of range

In [96]:
print(myString[1.5])

TypeError: string indices must be integers

# How to change or delete a string?

Strings are immutable .This means that elements of a string cannot be changed once it has been assigned.

 we can simply reassign different strings to the same name.

In [98]:
myString = 'Hello'
myString[4] = 's'  #strings are immutable

TypeError: 'str' object does not support item assignment

we cannot delete or remove characters from a string. But deleting the string emtirely is possible using the keyword del

In [99]:
del myString  #delete complete string

In [100]:
print(myString)

NameError: name 'myString' is not defined

# String Operations

# Concatination

Joining of two or more string into a single one is called concatination.

The + operator does this in Python. Simply writing two string literals together also concatinates them

The * operator can be used to repeat the string for a given number of times.

In [101]:
s1 = "hello"
s2 = "aashu"
#concatination of 2 strings
print(s1 + s2)

helloaashu

In [102]:
#repeat string n times
print(s1 * 3)

hellohellohello

# Iterating Through Strings

In [104]:
count = 0
for l in "Hello World":
    if l == 'o':
        count+=1
print(count,'letters found')

2 letters found

# String Membershio Test

In [105]:
print('l' in 'Hello World')   #in operator to test membership

True

In [106]:
print('or' in 'Hello World')

True

# String Methods

In [107]:
#convert into lowercase
"HELLO".lower()

'hello'

In [108]:
#convert into uppercase
"hello".upper()

'HELLO'

In [109]:
"This will print all words in list".split()

['This', 'will', 'print', 'all', 'words', 'in', 'list']

In [112]:
"Good Morning".find("Mo")

5

In [111]:
' '.join(['This', 'will', 'print', 'all', 'words', 'in', 'list'])

'This will print all words in list'

In [113]:
','.join(['This', 'will', 'print', 'all', 'words', 'in', 'list'])

'This,will,print,all,words,in,list'

In [114]:
'-'.join(['This', 'will', 'print', 'all', 'words', 'in', 'list'])

'This-will-print-all-words-in-list'

In [115]:
"Bad Morning".replace("Bad","Good")

'Good Morning'

In [118]:
s1 = "Bad Morning"
s2 = s1.replace("Bad","Good")
print(s1)
print(s2)   #since strings are immutable so it stores value in new string

Bad Morning
Good Morning

# Python Program to Check where a String is Palindrome or not?

In [122]:
myStr = "Madan"

#convert entire string to either lower or upper
myStr = myStr.lower()

#reverse string
revStr = reversed(myStr)

#check if the string is equal to its reverse
if list(myStr) == list(revStr):            #converted both strings into lists
    print("Given string is palindrome")
else:
    print("Given string is not palindrome")

Given string is not palindrome

# Python Program to Sort Words in Alphabetic Order?

In [133]:
myStr = "python program to sort words in Alphabetic order"
#breakdown the strings into list of words
words = myStr.split() #generate list

#sort the list
words.sort()

#print sorted words
for word in words:
    print(word)

Alphabetic
in
order
program
python
sort
to
words

# Python Functions

Function is group of related statements that perform a specific task.

Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more
organized and manageable.

It avoids repetition and makes code reusable

# Syntax:

              def function_name(parameters):
                      """
                      DOC String
                      """
                      
                      Statement(s)

1.keyword "def" marks the start of function header.

2.Parameters (arguments) through which we pass value to a function.These are optional .

3.A colon(:) to mark the end of function header.

4.Doc String describe what the function does.This is optional.

5."return" statement to return a value from the function.This is optional.

# Example

In [140]:
def print_name(name):
    """
    This will print the name
    """
    print("Hello " + str(name))

# Function call

Once we have defined a function ,we can call it from anywhere.

In [143]:
print_name("aashu")

Hello aashu

# Doc String

The first string after the function header is called the docstring and is short for documentation string.

Although optional, documentation is a good programming practice, always document your code.

Doc string will be written in triple quotes so that docstring can extend up to multiple lines.

Formula: print(dunction_name.__doc__)

In [144]:
print(print_name.__doc__)   #print docstring of the function.

    This will print the name

# return Statement

The return statement is used to exit a function and go back to the place from where it was called.

 Syntax:

        return(expression)

return statement can contain an expression which gets evaluated and the value is returned.

if there is no expression in the statement or the return statement itself is not present inside a function,then the function will return None Object.

In [146]:
def get_sum(lst):
    """
    This function will return the sum of all the elements in the list
    """
    #initialize sum
    _sum = 0
    
    #iterating over the list
    for num in lst:
        _sum += num
    return _sum

In [147]:
s = get_sum([1,2,3,4,5])
print(s)

15

In [148]:
#print docstring
print(get_sum.__doc__)

    This function will return the sum of all the elements in the list

# How Function works in Python?

                     def functionName(): <-----.
                         ***   **   ***        |
                         ***   **   ***        | 
                                               |
                         ***   **   ***        |
                -------- ***   **   ***        |
                |        functionName();--------
                .------->***   **   ***
                         ***   **   ***

# Scope and Life Time of Variables

Scope of variable is the portion of a program where the variable is recognized.

variables defined inside a function is not visible from outside. Hence they have a local scope.

Lifetime of a variable is the period throughout which the variable exists in the memory.

The lifetime of variables inside a function is as long as the function executes.

Variables are destroyed once we return from the function.

# Example:

In [154]:
global_var = "This is global variable"

def test_life_time():
    """
    This function tests the life time of the variable
    """
    local_var = "This is local variable"
    print(global_var)  #print global variable
    print(local_var)   #print local variable
    
#calling function
test_life_time()

#print global variable
print(global_var)

#print local variable
print(local_var)

This is global variable
This is local variable
This is global variable

NameError: name 'local_var' is not defined

# Python prigram to print Heighest Common Factor(HCF) of two numbers

In [156]:
def computeHCF(a, b):
    """
    Computing HCF of two numbers
    """
    smaller = b if a>b else a       #consice statement of writing if else statement
    hcf = 1
    for i in range(1, smaller+1):
        if(a % i ==0) and (b % i ==0):
            hcf = i
    return hcf

num1 = 98
num2 = 78

print("HCF of {0} and {1} is:{2}".format(num1, num2, computeHCF(num1, num2)))

HCF of 98 and 78 is:2

# Types of Functions

1. Built-in Functions
2. User-defined Functions

# 1. Built-in Function

# 1.abs()

In [158]:
#find the absolute value
num = -100
print(abs(num))  #absolute values convert all negative numbers into positive numbers

100

# 2.all()

return value of all() function

True: if all elements in an iterable(data type which we can iterate) are true

 False: if any element in an iterable is false.

In [162]:
lst = [1,2,3,4]
print(all(lst))

False

In [164]:
t = (0,2,4,5)  #0 present in list
print(all(t))

False

In [165]:
lst = []    #empty list is always true
print(all(lst))

True

In [166]:
lst = [False,1,2,3]  #False present in a list so all(lst) is false
print(all(lst))

False

# dir()

The dir() tries to return a list of valid attributes of the object.

If the object has dir() method,the method will be called and must return the list of attributes.

If the object doesnot have dir() method, the method tries to find information from the dict attribute (if defined), and from type object.
In this case, the list returned from dir() may not be complete.

In [167]:
numbers = [1,2,3]
print(dir(numbers))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']